{% extends "layout.html" %}
{% block cont %}
 <link rel="stylesheet" href="static/stylesheets/ourBlog/style.css">
<section class="section">
<div class="main__articles">
    <article class="article">
        <div class="article__img"><img src={{images[0]}} alt="living room"></div>
        <div class="article__subtitle">Pellentesque felis nibh</div>
        <div class="article__text">Phasellus sitamet neque molestie nunc tincidunt ultrices. Donec<br>
            laoreet mi sit amet gravida bibendum, Aquarn erat volutpat. Aliquam<br>
            ‘arcu est, malesuada ani n</div>
        <a href="#" class="article__link">read more</a>
        </article>
        <article class="article">
            <div class="article__img"><img src={{images[1]}} alt="living room"></div>
            <div class="article__subtitle">Mauris nisi magna, congue quis faucibus ac</div>
            <div class="article__text">Nulla in tincidunt neque, a luctus mi. Donec sollicitudin est vehicula
                mauris condimentum mattis. Suspendisse in augue ut lorem viverra
                dignissim. Fusce ultrices, mauris vitae fringilla.</div>
            <a href="#" class="article__link">read more</a>
            </article>
            <article class="article">
                <div class="article__img"><img src={{images[2]}} alt="living room"></div>
                <div class="article__subtitle">Adipiscing auctor turpis</div>
                <div class="article__text">Aenean auctor leo et ibero convallis, eget tempor urna rutrum,
                    Aliquam erat volutpat. Class aptent tad sociosqu ad lta torquent
                    per conubia nostra, per inceptos himenaeos.</div>
                <a href="#" class="article__link">read more</a>
                </article>
                <article class="article">
                    <div class="article__img"><img src={{images[3]}} alt="living room"></div>
                    <div class="article__subtitle">Duis sed lectus placerat, facilisis lacus id</div>
                    <div class="article__text">Pellentesque aliquam eros non augue cursus, ut porta leo ornare.
                        Suspendisse odie lectus, commodo ac mauris in, bibendum pretium
                        nisi.</div>
                    <a href="#" class="article__link">read more</a>
                    </article>
                    <article class="article">
                        <div class="article__img"><img src={{images[4]}} alt="living room"></div>
                        <div class="article__subtitle">Fermentum pellentesque dolor at </div>
                        <div class="article__text">Duis eros nisl, tincidunt sed elit ut, feugiat elementum justo. Vivamus
                            ornare id eros vel imperdiet. Sed venenatis dapibus consequat.
                            Curabitur viverra erat id vehicula consectetur.</div>
                        <a href="#" class="article__link">read more</a>
                        </article>
                        <article class="article">
                            <div class="article__img"><img src={{images[5]}} alt="living room"></div>
                            <div class="article__subtitle">Nunc sodales nec ante eget sollicitudin</div>
                            <div class="article__text">Pellentesque imperdiet sem nec pellentesque luctus. Sed nisl elit,
                                tempus sed ultricies vel, laoreet ut magna. In a condimentum nulla,
                                Maecenas sem tellus, blandit a felis at, luctus lobortis erat.</div>
                            <a href="#" class="article__link">read more</a>
                            </article>
</div>
</section>
    <script type="text/javascript" src="/static/javascripts/ourBlog/script.js"></script>
{% endblock %}