{% extends "layout.html" %}
{% block cont %}
    <link rel="stylesheet" href="static/stylesheets/services/style.css">
<section class="section">
<div class="main__articles">
        <article class="article">
            <div class="article__wrapper">
            <div class="article__img"><img src="/static/images/services/1.jpg" alt=""></div>
            <div class="article__text-information">
            <div class="article__subtitle">Good social</div>
            <div class="article__text">You can always contact our service</div>
                <a href="#" class="article__link">learn more</a>
            </div>
        </div>
            </article>
            <article class="article">
                <div class="article__wrapper">
                <div class="article__img"><img src="/static/images/services/2.jpg" alt=""></div>
                <div class="article__text-information">
                <div class="article__subtitle">Understanding</div>
                <div class="article__text">Our specialists are professionals in their field and will definitely find a common language with you</div>
                    <a href="#" class="article__link">learn more</a>
                </div>
            </div>
                </article>
                <article class="article">
                    <div class="article__wrapper">
                    <div class="article__img"><img src="/static/images/services/3.jpg" alt=""></div>
                    <div class="article__text-information">
                    <div class="article__subtitle">Secure Messenger</div>
                    <div class="article__text">Using our messenger, you do not have to worry about the security of your data</div>
                        <a href="#" class="article__link">learn more</a>
                    </div>
                </div>
                    </article>
                    <article class="article">
                        <div class="article__wrapper">
                        <div class="article__img"><img src="/static/images/services/4.jpg" alt=""></div>
                        <div class="article__text-information">
                        <div class="article__subtitle">Free Music</div>
                        <div class="article__text">By subscribing On our site you can listen to music for free</div>
                            <a href="#" class="article__link">learn more</a>
                        </div>
                    </div>
                        </article>
                        <article class="article">
                            <div class="article__wrapper">
                            <div class="article__img"><img src="/static/images/services/5.jpg" alt=""></div>
                            <div class="article__text-information">
                            <div class="article__subtitle">Easy diary</div>
                            <div class="article__text">Our application "Diara" will help you remember the goals you want to achieve</div>
                                <a href="#" class="article__link">learn more</a>
                            </div>
                        </div>
                            </article>
                            <article class="article">
                                <div class="article__wrapper">
                                <div class="article__img"><img src="/static/images/services/6.jpg" alt=""></div>
                                <div class="article__text-information">
                                <div class="article__subtitle">Create-it is easy!</div>
                                <div class="article__text">By purchasing a subscription to our course, you will learn how to create websites after 3 months of study</div>
                                    <a href="#" class="article__link">learn more</a>
                                </div>
                            </div>
                                </article>
                                <article class="article">
                                    <div class="article__wrapper">
                                    <div class="article__img"><img src="/static/images/services/7.jpg" alt=""></div>
                                    <div class="article__text-information">
                                    <div class="article__subtitle">Time to dress for the weather!</div>
                                    <div class="article__text">Our application will be able to provide you with the most accurate weather forecasts</div>
                                        <a href="#" class="article__link">learn more</a>
                                    </div>
                                </div>
                                    </article>
                                    <article class="article">
                                        <div class="article__wrapper">
                                        <div class="article__img"><img src="/static/images/services/8.jpg" alt=""></div>
                                        <div class="article__text-information">
                                        <div class="article__subtitle">Reservation</div>
                                        <div class="article__text">Thanks to our huge number of branches around the world, you can reserve a place to study anywhere in the world!</div>
                                            <a href="#" class="article__link">learn more</a>
                                        </div>
                                    </div>
                                        </article>
</div>
</div>
</section>
{% endblock %}